body{
    background-image: url(bg.jpg);
    height: 100vh;
    width: 100%;
    z-index: -2;
    background-repeat: no-repeat;
    background-position:fixed;
    background-size: cover;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;

}
header{
    height: 60px;
    width: 100%;
    background-color: rgb(254,112,4);
    background-size:contain;
    display: inline-block;
    opacity:0.9;
  

}
a{
    text-decoration: none;
    color:black;
    float:right;
    margin-right: 15px;
    font-size:22px;
}
#navbar{
    display: inline;
}
ul{
    list-style: none;

}
#vid{opacity: 0.95;
    border-radius: 1000px;
    float:left;

}
.cimsor{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    float:center;
}
p{
font-size:22px;

}
li{
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}